.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.sprite-EGP {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-IDR {
    width: 24px;
    height: 24px;
    background-position: -39px -5px;
}

.sprite-INR {
    width: 24px;
    height: 24px;
    background-position: -73px -5px;
}

.sprite-IRR {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.sprite-MAD {
    width: 24px;
    height: 24px;
    background-position: -39px -39px;
}

.sprite-MYR {
    width: 24px;
    height: 24px;
    background-position: -73px -39px;
}

.sprite-NGN {
    width: 24px;
    height: 24px;
    background-position: -5px -73px;
}

.sprite-PHP {
    width: 24px;
    height: 24px;
    background-position: -39px -73px;
}

.sprite-PKR {
    width: 24px;
    height: 24px;
    background-position: -73px -73px;
}

.sprite-RUB {
    width: 24px;
    height: 24px;
    background-position: -107px -5px;
}

.sprite-THB {
    width: 24px;
    height: 24px;
    background-position: -107px -39px;
}

.sprite-TRY {
    width: 24px;
    height: 24px;
    background-position: -107px -73px;
}

.sprite-VND {
    width: 24px;
    height: 24px;
    background-position: -5px -107px;
}
